# Environment variables
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Machine Learning
*.pt
*.pth
*.bin
*.safetensors

# Jupyter
.ipynb_checkpoints/

# Java / Maven
target/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
